@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700|Oswald:300,400,500,700|Gravitas+One');

html {
  overflow-x: hidden;
  height: 100%;
  background: #000;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/** Default Styling */

body {
  min-height: 100%;
  background: #000;
  font-family: $primary-fontstack;
  line-height: 1;
  color: #fff;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clear {
  clear: both;
}

.main,
.content,
.wrap {
  height: 100%;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1340px;
  }
}

/** Headings, Links & Paragraphs */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondary-fontstack;
  font-weight: 700;
  color: #fff;
}

h1 {
  font-size: 3em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.75em 0;
}

h3 {
  font-size: 1.17em;
  margin: 0.83em 0;
}

p {
  margin-bottom: 16px;
  margin-bottom: 1rem;
  line-height: 24px;
  letter-spacing: 0.01rem;
}

a {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-size: 0.75rem;
  color: #fff;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;

  &:hover {
    color: $primary-color;
    text-decoration: none;
  }
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 1.5s linear;
  -moz-transition: opacity 1.5s linear;
  -ms-transition: opacity 1.5s linear;
  -o-transition: opacity 1.5s linear;
  transition: opacity 1.5s linear;
}

/** Slideshow */

.slideshow-container {
  padding-top: 130px;
  background: #fff;
}

.slideshow {
  height: 575px;
  position: relative;

  .slide {
    height: 575px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;

    @include media-breakpoint-up(md) {
      background-attachment: fixed;
    }
  }

  .item-1 {
    background-image: url(../images/slide_1.jpg);
    background-position: bottom center;
  }

  .item-2 {
    background-image: url(../images/slide_2.jpg);

    @include media-breakpoint-up(md) {
      background-position: 0 -330px;
    }
  }

  .item-3 {
    background-image: url(../images/slide_3.jpg);
  }

  .item-4 {
    background-image: url(../images/slide_4.jpg);

    @include media-breakpoint-up(md) {
      background-position: 0 -330px;
    }
  }

  .item-5 {
    background-image: url(../images/slide_5.jpg);
  }

  .item-6 {
    background-image: url(../images/slide_6.jpg);
  }

  .item-7 {
    background-image: url(../images/slide_7.jpg);
  }

  .item-8 {
    background-image: url(../images/slide_8.jpg);
  }

  .item-9 {
    background-image: url(../images/slide_9.jpg);
  }

  .item-10 {
    background-image: url(../images/slide_10.jpg);
  }

  .item-11 {
    background-image: url(../images/slide_11.jpg);
  }

  .item-12 {
    background-image: url(../images/slide_12.jpg);
  }

  .item-13 {
    background-image: url(../images/slide_13.jpg);
    background-position: bottom center;
  }

  .item-14 {
    background-image: url(../images/slide_14.jpg);
  }
}

.slideshow div:nth-of-type(1) {
  animation-name: fader;
  animation-delay: 4s;
  animation-duration: 1s;
  z-index: 20;
}

.slideshow div:nth-of-type(2) {
  z-index: 10;
}

.slideshow div:nth-of-type(n+3) {
  display: none;
}

@keyframes fader {
  from { opacity: 1; }
  to { opacity: 0; }
}

// Content overlay

.c-card-wrapper {
  height: 575px;
  position: absolute;
  top: 130px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
}

.c-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  padding: 60px;

  @include media-breakpoint-up(md) {
    background: rgba(0, 0, 0, 0.85);
    width: 580px;
    padding: 30px;
  }
}

.c-card__coming-soon-text {
  font-family: $primary-fontstack;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: $primary-color;
  margin: 30px 0 50px;
}

// Follow us

.follow-group-container {
  margin: 30px auto 30px;
  text-align: center;

  .follow-group--title {
    font-size: 30px;
    font-size: 1.875rem;
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
  }

  .follow-group {
    li {
      display: inline-block;
      margin-right: 10px;

      a {
        display: inline-block;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        color: #fff;

        svg {
          font-size: 20px;
          height: 100%;
        }

        &:hover {
          color: #fff;
        }

        &.follow-btn--fb:hover {
          background-color: #3b5998;
          border-color: #3b5998;
        }

        &.follow-btn--yt:hover {
          background-color: #b00;
          border-color: #b00;
        }

        &.follow-btn--tw:hover {
          background-color: #00aced;
          border-color: #00aced;
        }

        &.follow-btn--ig:hover {
          background-color: #517fa4;
          border-color: #517fa4;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.particle {
  position: absolute;
  border-radius: 50%;
}

@for $i from 1 through 30 {
  @keyframes particle-animation-#{$i} {
    100% {
      transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
    }
  }

  .particle:nth-child(#{$i}) {
    animation: particle-animation-#{$i} 60s infinite;
    $size: random(5) + 2 + px;

    opacity: random(100) / 100;
    height: $size;
    width: $size;
    animation-delay: -$i * 0.2s;
    transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
    background-color: $primary-color;
  }
}
