/** Homepage footer */

.home-footer {
  margin-top: 80px;
  margin-bottom: 60px;

  @include media-breakpoint-up(lg) {
    margin-top: 100px;
  }
}

.home-footer__c-wrap {
  padding: 0 20px;
  position: relative;

  @include media-breakpoint-up(lg) {
    padding: 0 60px;
    max-width: 1440px;
    margin: auto;
  }
}

.home-footer--end {
  text-align: center;
  margin: auto;
  margin-top: 60px;

  @media (min-width: 1400px) {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
  }

  p {
    font-size: 12px;
    font-size: 0.75rem;
  }

  a {
    margin-bottom: 8px;
  }
}

// No Link Box

.no-link-box {
  text-align: center;
  margin-bottom: 80px;

  @include media-breakpoint-up(lg) {
    display: table;
    margin-bottom: 0;
    border: 1px solid #444;
    height: 100%;
  }

  @media (min-width: 1400px) {
    padding: 40px 30px;
    height: auto;
  }
}

.no-link-box-center {
  @include media-breakpoint-up(lg) {
    display: table-cell;
    vertical-align: middle;
  }
}

.no-link-box__title {
  font-size: 36px;
  font-size: 2.25rem;
  margin: 0;
  margin-bottom: 30px;
  text-transform: capitalize;
}

.no-link-box__subtitle {
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 300;
  padding: 6px 0;
  margin: 30px auto;
  width: 150px;
  color: $primary-color;
  text-transform: uppercase;
  border-top: 1px solid $primary-color;
  border-bottom: 1px solid $primary-color;
  letter-spacing: 2px;
  line-height: 24px;
}

.no-link-box__text {
  color: #aaa;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 22px;
  padding: 0 20px;
  margin: 0;
}

// Link Box

.link-box {
  display: table;
  border-bottom: 1px solid #444;
  padding-bottom: 30px;

  @include media-breakpoint-up(md) {
    text-align: center;
  }

  @include media-breakpoint-up(lg) {
    border: 1px solid #444;
    padding: 30px;
  }
}

.link-box__contact-us {
  margin-bottom: 30px;

  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
  }
}

.link-box__header {
  padding-right: 10px;
}

.link-box__body {
  vertical-align: middle;
  padding-left: 10px;
}

.link-box__header,
.link-box__body {
  display: table-cell;
  width: 50%;

  @include media-breakpoint-up(lg) {
    display: block;
    width: auto;
    padding: 0;
  }
}

.link-box__title {
  font-size: 18px;
  font-size: 1.125rem;
  margin: 0;
  margin-bottom: 20px;
  text-transform: capitalize;

  @include media-breakpoint-up(md) {
    font-size: 26px;
    font-size: 1.625rem;
    margin-bottom: 30px;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 30px;
  }
}

.link-box__text {
  font-size: 13px;
  font-size: 0.8125rem;
  letter-spacing: 0.06rem;
  margin-bottom: 20px;

  @include media-breakpoint-up(md) {
    margin-bottom: 40px;
  }
}

.link-box__btn {
  color: #dba758;
  font-size: 9px;
  font-size: 0.5625rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
  border: 1px solid #dba758;
  padding: 15px 0;
  display: block;
  width: 100%;
  margin: auto;

  @include media-breakpoint-up(md) {
    font-size: 11px;
    font-size: 0.6875rem;
    width: 250px;
  }

  &:hover {
    text-decoration: none;
    background-color: $primary-color;
    color: #fff;
  }
}

/** Other pages footer */

.page-footer--opage {
  // flex-shrink: 0;
  text-align: center;
  margin-top: 80px;

  @include media-breakpoint-up(xl) {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 60px;
  }

  .follow-group-container {
    margin: 30px 0;

    @include media-breakpoint-up(xl) {
      text-align: right;
    }

    .follow-group {
      li {
        display: inline-block;

        a {
          display: inline-block;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          color: #fff;
          text-align: center;
          border: 1px solid #555;

          svg {
            font-size: 16px;
            height: 100%;
          }
        }
      }
    }
  }
}

.page-footer__wrapper {
  margin: auto;
}

.page-footer__links {
  margin: 0 auto 30px;
  width: auto;

  li {
    display: inline-block;
    margin-right: 11px;

    @include media-breakpoint-up(xl) {
      margin: 0;
      display: block;
    }

    &:last-child {
      margin-right: 0;
    }

    a {
      text-transform: uppercase;
      font-size: 11px;
      font-weight: bold;
    }
  }
}

