.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

// HEADER

.page-header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-header--home {
  background-color: #000;
  position: fixed;
  width: 100%;
  z-index: 30;
}

.page-header--page {
  width: 100%;
  position: relative;
  background: #000;

  @include media-breakpoint-up(md) {
    margin-bottom: 40px;
  }
}

.page-header__container {
  max-width: 1360px;
  position: relative;
  margin: auto;
}

// LOGO

.logo-wrapper {
  position: relative;
  width: 100%;
}

.logo-wrapper,
.logo-link {
  height: calc(#{$logo-size-sm-width} / 2);

  @include media-breakpoint-up(sm) {
    height: calc(#{$logo-size-width} / 2);
  }
}

.logo,
.logo-link {
  width: $logo-size-sm-width;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include media-breakpoint-up(sm) {
    width: $logo-size-width;
  }
}

.logo-link {
  z-index: 1;
}
