/** Other pages */

.page-container {
  background: rgba(10, 10, 10, 0.55);
  min-height: 100vh;
  position: relative;
  z-index: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.o-bg {
  min-width: 100vw;
  min-height: 100vh;
  background-attachment: fixed;
  position: absolute;
  filter: blur(4px);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.o-bg__submissions {
  background: url(../images/paris.jpg) bottom/cover;
}

.o-bg__contact-us {
  background: url(../images/diddy-phone-1280x960.png) center/cover;
}

.back-link {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  text-transform: uppercase;
  z-index: 1;
}

.newsletter-link {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  font-weight: bold;
  color: $primary-color;
  text-transform: uppercase;
  z-index: 1;
  padding: 20px 30px;

  @include media-breakpoint-up(md) {
    font-size: 14px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border: 1px solid $primary-color;
    padding: 10px 20px;

    &::after {
      content: ' Newsletter Sign up';
    }
  }

  &:hover {
    background: $primary-color;
    color: #fff;
  }
}

.p-card {
  position: relative;
  text-align: center;
  margin: auto;
}

.p-card__container {
  display: table;
  height: 60vh;
  background-color: #000;
  border: 1px solid #555;
  box-shadow: 0 0 10px;
}

.p-card-header {
  display: table-cell;
  width: 65%;
  position: relative;

  .image {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 50%;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    border: 1px solid #dba758;
    transform: translate(-50%, -50%);
  }

  .image--contact-us {
    background: url(../images/diddy-phone-1280x960.png) bottom;
  }

  .image--submissions {
    background: url(../images/paris.jpg) bottom/cover;
  }
}

.p-card-body {
  width: 35%;
  display: table-cell;
  background: #000;
  padding: 30px;
}

.p-card-body__header {
  .title {
    font-size: 50px;
    font-size: #{(50px / 16px)}rem;
    font-family: $secondary-fontstack;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 0;
  }

  .upper {
    font-family: $primary-fontstack;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: $primary-color;
    margin: 10px 0 20px;
  }

  .text {
    font-size: 14px;
    font-size: #{(14px / 16px)}rem;
    color: #fff;
    margin: 0 auto 30px;
  }
}

/** Form */

.aform {
  input[type=email],
  input[type=text],
  textarea,
  select {
    font-size: 13px;
    text-align: center;
    line-height: 24px;
    padding: 5px;
    border: 0;
    color: #fff;
    background: url(../images/input-text-360.png) 50% 100% no-repeat !important;
    width: 360px;
    margin: auto;
    display: block;

    &::-webkit-input-placeholder {
      color: #fff !important;
    }

    &::-moz-placeholder {
      color: #fff !important;
    }

    &:-ms-input-placeholder {
      color: #fff !important;
    }

    &:-moz-placeholder {
      color: #fff !important;
    }
  }

  .ginput_container_select {
    position: relative;

    &::after {
      display: none;
      content: '\f107';
      font-family: $fa-fontstack;
    }

    svg {
      color: #fff;
      position: absolute;
      top: 0;
      right: 10px;
      font-size: 22px;
      height: 100%;
      z-index: 1;
      pointer-events: none;
    }
  }

  .aform__wrapper {
    width: 360px;
    margin: auto;
  }

  input[type=submit] {
    background: rgba(0, 0, 0, 0);
    border: 2px solid $primary-color;
    font-weight: bold;
    color: $primary-color;
    text-transform: uppercase;
    padding: 0;
    margin: 20px auto 0;
    display: block;
    height: 50px;
    cursor: pointer;

    &:hover {
      background-color: $primary-color;
      color: #fff;
    }
  }
}

