/** Other pages */

.page-container {
  min-height: 100vh;
  position: relative;
  z-index: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.page-container--pagewform {
  background: #000;
}

.page-container--thank-you {
  background-color: rgba(0, 0, 0, 0.7);
}

.page-container--pagewform,
.page-container--thank-you {
  @include media-breakpoint-up(md) {
    background: rgba(170, 170, 170, 0.55);
  }
}

.o-bg {
  min-width: 100vw;
  min-height: 100vh;
  background-attachment: fixed;
  position: absolute;
  filter: blur(4px) grayscale(1);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.o-bg__submissions {
  background: url(../images/paris_1.jpg) bottom/cover;
}

.o-bg__contact-us {
  background: url(../images/diddy-phone-1280x960.png) center/cover;
}

.back-link {
  position: absolute;
  left: 60px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  text-transform: uppercase;
  z-index: 1;
}

.p-card {
  background-color: #000;
  text-align: center;
  margin: auto;
  padding: 0;
}

.p-card-wrapper {
  min-height: 700px;
}

.p-card-header {
  height: 400px;

  @include media-breakpoint-up(lg) {
    position: relative;
    height: auto;
  }

  .image {
    height: 100%;

    @include media-breakpoint-up(md) {
      position: absolute;
      top: 50%;
      right: 0;
      bottom: 0;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
    }
  }

  .image--contact-us {
    background: url(../images/diddy-phone-1280x960.png) bottom;
    background-position: bottom center;
    background-size: cover;

    @include media-breakpoint-up(md) {
      background-position: center center;
    }
  }

  .image--submissions {
    background: url(../images/paris_1.jpg);
    background-position: bottom center;
    background-size: cover;

    @include media-breakpoint-up(md) {
      background-position: center center;
    }
  }
}

.p-card-body {
  margin: 60px auto;
  background: #000;

  @include media-breakpoint-up(lg) {
    margin: 0;
  }
}

.title {
  font-size: 44px;
  font-size: #{(44px / 16px)}rem;
  font-family: $secondary-fontstack;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: 0;
}

.upper {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: $primary-color;
  margin: 5px 0 30px;
}

.text {
  font-size: 14px;
  font-size: #{(14px / 16px)}rem;
  color: #fff;
  margin: 0 auto 30px;
}

.thank-you {
  text-align: center;
  margin: auto;

  .title {
    margin-top: 60px;
  }

  .text {
    margin-bottom: 10px;
  }

  hr {
    width: 130px;
    border-top: 1px solid #555;
    margin: 30px auto;
  }

  .follow-group-container {
    margin: 10px auto 60px;
  }

  .follow-group {
    li a {
      border: 1px solid #555;
    }
  }
}

.thank-you-content {
  padding: 0 40px;

  @include media-breakpoint-up(md) {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

/** Form */

.p-card-form {
  input[type=email],
  input[type=text],
  textarea,
  select {
    font-size: 13px;
    text-align: center;
    line-height: 24px;
    padding: 5px;
    border: 0;
    color: #fff;
    background: url(../images/input-text-360.png) 50% 100% no-repeat !important;
    width: 360px;
    margin: auto;
    display: block;

    &::-webkit-input-placeholder {
      color: #fff !important;
    }

    &::-moz-placeholder {
      color: #fff !important;
    }

    &:-ms-input-placeholder {
      color: #fff !important;
    }

    &:-moz-placeholder {
      color: #fff !important;
    }
  }

  .ginput_container_select {
    position: relative;

    &::after {
      display: none;
      content: '\f107';
      font-family: $fa-fontstack;
    }

    svg {
      color: #fff;
      position: absolute;
      top: 0;
      right: 10px;
      font-size: 22px;
      height: 100%;
      z-index: 1;
      pointer-events: none;
    }
  }

  .p-card-form__wrapper {
    width: 360px;
    margin: auto;
  }

  input[type=submit] {
    background: rgba(0, 0, 0, 0);
    border: 2px solid $primary-color;
    font-weight: bold;
    color: $primary-color;
    text-transform: uppercase;
    padding: 0;
    margin: 20px auto 0;
    display: block;
    height: 50px;
    cursor: pointer;

    &:hover {
      background-color: $primary-color;
      color: #fff;
    }
  }
}

